.img-fluid{
	 max-width: 100%;
	 max-height: 500px;
     position: relative;
	 flex-direction: center;
	     display: block;

	 
}

.list-group-item{
	max-width: 100%;
	 max-height: 500px;
	 position: relative;
	 flex-direction: center;
	 
	display: list-item;
    max-width: 100%;
    text-align: left;
	 
}




.list-group {
    display: inline-block;
    width: auto;
    text-align: left;
}
