/* ! Base Style */
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}


a {
    text-decoration: none; /* Rimuove la sottolineatura dagli elementi <a> */
}


h1, h2, h3, h4, h5, p {
    color: #000;
    padding-bottom: 30px;
}


.big-text {
    font-size: 70px;
    font-weight: 900;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

.small-text {
    font-size: 14px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.button {
    padding: 18px 28px;
    background: #316bff;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .big-text {
        font-size: 40px;
    }
}

/* ! Header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.9));
    color: #fff;
    z-index: 10;
    overflow: hidden;
    min-height: 80px; 
    max-height: 130px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    padding: 15px;
    display: block;
    white-space: nowrap; /* Ensure text does not wrap */
}

.cta {
    margin-left: auto;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-wrap: wrap; /* Allow wrapping to multiple lines */
        justify-content: space-between;
        width: 100%;
    }

    .cta {
        margin-left: 0;
        margin-top: 10px;
    }
}

/* ! Hero */
.hero {
    height: 790px;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.9)), url('/images/roma.png') no-repeat center center;
    background-size: cover;
}

.hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
}

.hero__content h1,
.hero__content p {
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
