<!DOCTYPE html>
<html>

<head>
	<title>Attrazioni</title>
	<link rel="stylesheet" href="/css/attrazioni.css" />
</head>

<body>
  <div class="header">

    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="">Single</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <div class="cta">
      <a href="/login" class="button"> Login</a>
    </div>
    <div class="class">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
  	<div th:if="${attrazioni==null || attrazioni.isEmpty()}">Non ci sono attrazioni nel sistema</div>

	<h1>Monumenti</h1>
	<ul>
		<li th:each="attrazione : ${monumenti}" >
			<a th:href="@{'/attrazione' + '/' + ${attrazione.id}}"
				th:text="${attrazione.nome}">Colosseo </a>
		</li>
	</ul>
	
	<h1>Chiese</h1>
	<ul>
		<li th:each="attrazione : ${chiese}" >
			<a th:href="@{'/attrazione' + '/' + ${attrazione.id}}"
				th:text="${attrazione.nome}">Basilica di san Paolo </a>
		</li>
	</ul>
	
	<h1>Musei</h1>
	<ul>
		<li th:each="attrazione : ${musei}" >
			<a th:href="@{'/attrazione' + '/' + ${attrazione.id}}"
				th:text="${attrazione.nome}"> museo </a>
		</li>
	</ul>
</body>

</html>