<html lang="it"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HomePage</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous">

 	 <link rel="stylesheet" href="/css/index1.css" />  


</head>
<body>
    <header>
  <div class="header">

    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/carrello">Carrello</a></li>
      <li><a href="/attrazioni">Attrazioni</a></li>
    </ul>
    
    <div class="cta">	  

      <div th:if="${userDetails}">
			<span th:text="${userDetails.username}"> </span>
			<a class="button" href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a class="button" href="/login">Login</a>
		</div>
    </div>
    
  </div>
      </header>

  <div class="hero">
    <div class="hero__content">
      <h1 class="big-text">ROMExplorer </h1>
      <a href="/attrazioni" class="button">Discover More</a>
    </div>
  </div>





</body></html>