<!DOCTYPE html>
<html>
<head>
    <title>Prenotazione</title>
</head>
<body>
    <h1 th:text="${attrazione.nome}"></h1>
<form th:action="@{'/prenota/' + ${attrazione.id} + '/selezionaGuida'}" method="post">
        <label>Nome:</label><input type="text" name="nome" /><br />
        <label>Cognome:</label><input type="text" name="cognome" /><br />
        <label>Data di Nascita:</label><input type="date" name="dataDiNascita" /><br />
        <label>Codice Fiscale:</label><input type="text" name="codiceFiscale" /><br />
        <label>Data Prenotazione:</label><input type="date" name="dataPrenotazione" /><br />
        <label>Lingua:</label>
        <select name="linguaDesiderata">
            <option value="inglese">Inglese</option>
            <option value="italiano">Italiano</option>
            <option value="francese">Francese</option>
            <option value="spagnolo">Spagnolo</option>
            <option value="tedesco">Tedesco</option>
        </select><br />
        <label>Richieste Particolari:</label><input type="text" name="richiesteParticolari" /><br />
        <input type="submit" value="Prosegui" />
    </form>
</body>
</html>

