<!DOCTYPE html>
<html>
<head>
    <title>Prenotazione</title>
</head>
<body>
    <h1 th:text="${attrazione.nome}"></h1>
<form th:action="@{'/prenotazione/' + ${attrazione.id}}" method="post">

        
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${prenotazione.nome}" /></span>
		    </span>
		</div>

		<div>
			<label>Cognome:</label> <span><input type="text" th:field="${prenotazione.cognome}" /></span>
		    </span>
		</div>
		
		<div>
			<label>Data Di Nascita:</label> <span><input type="date" th:field="${prenotazione.dataNascita}" /></span>
		    </span>
		</div>
		
		<div>
			<label>Codice Fiscale:</label> <span><input type="text" th:field="${prenotazione.codiceFiscale}" /></span>
		    </span>
		</div>
		
		<div>
			<label>Data Prenotazione:</label> <span><input type="date" th:field="${prenotazione.dataPrenotazione}" /></span>
		    </span>
		</div>
		
        <label for="guida"> Seleziona una guida:</label>
        <select th:field="${prenotazione.guida}" id="guida">
            <option th:each="guida : ${guide}" th:value="${guida.id}" th:text="${guida.nome} + ' ' + ${guida.cognome}"></option>
        </select>
		
		<div>
			<label>Richieste particolari:</label> <span><input type="text" th:field="${prenotazione.richiesteParticolari}" /></span>
		    </span>
		</div>


		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	      
               	
    </form>
</body>
</html>

