<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Riepilogo Prenotazione</title>
</head>
<body>
    <h1>Riepilogo Prenotazione</h1>
  
    <p th:text="'Nome: ' + ${prenotazione.nome}"></p>
    <p th:text="'Cognome: ' + ${prenotazione.cognome}"></p>
    <p th:text="'Codice fiscale: ' + ${prenotazione.codiceFiscale}"></p>
    <p th:text="'Guida: ' + ${prenotazione.guida.nome} + ' ' + ${prenotazione.guida.cognome}"></p>
    <p th:text="'Richieste Particolari: ' + ${prenotazione.richiesteParticolari}"></p>
    <p th:text="'Data Della Visita: ' + ${prenotazione.dataPrenotazione}"></p>
    
    <div> <a href="/carrello"> Vai al carrello</a> </div>
    <div> <a href="/attrazioni"> Continua la visita </a> </div>
</body>
</html>
